<main>
    Доброго дня, <%= locals.username %>!<br />
    От Вас поступила регистрация на сайте post-life.<br />
    Для продолжения востановить пароль перейдите по
    <a href="<%= urlConfirmAddress %>/restore/<%= id %>">ссылке</a> .
</main>